.Title{
    color: #212ea4;
    font-size: 15px;
    font-weight:600;
    text-transform: uppercase;
    text-align: center;
    margin:70px 0 30px;
}
.Title h2{
    font-size:32px;
    text-transform: none;
    color:#000f38;
    margin-top:5px;

}
